h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family:'Roboto', Helvetica, sans-serif;
}
@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-VariableFont_wdth,wght.ttf');
  font-display: swap;
}

.my-btn {
  margin: 5px 5px 0px 0px;
  inline-size: 100px;
  block-size: 100px;
  border: none;
  background: #515151;
  color: white;
  font-size: 1.5rem;
  font-family: 'Roboto', Helvetica,  sans-serif;
  cursor: pointer;
  font-weight: 700;
  border-radius: 12px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-btn:hover {
  background: rgba(255, 255, 255, 0.08);
  color:#000;
}

.my-btn:active {
  filter: brightness(130%);
}

.btn_equal {
  background: #71aaeb;
  inline-size: 210px;
}

.btn_operation_vertical {
  background: #71aaeb;
}

.btn_operation_horizontal {
  background: #828282;
}

.data_input {
  inline-size: 420px;
  block-size: 70px;
  margin-bottom: 15px;
  padding-right: 10px;
  background: white;
  text-align: right;
  color: #000;
  border-radius: 8px;
  font-size: 3rem;
  font-weight: 700;
  font-family: Roboto, Helvetica, sans-serif;
}

.btn-git {
  background-color: #fff;
  border-radius: 8px;
  border: none;
  height: 32px;
  width: 104px;
}

.btn-git a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
